
<img class="img-bitcoin" src="img/bitnation.png">


<br>
<div class="pitch-container">
            <h2>*Developers Sandbox-Version</h2>

<br>
        <h1>Consumption within the network rewards you with basic income</h1>
        <h1>Ask your value producers to join the #network</h1>
        <br>
<iframe id="introduction_movie" style="width: 100%; height:auto" src="//www.youtube.com/embed/8Sb6NBg5i1U" frameborder="0" allowfullscreen></iframe>

</div>
<div class="login-form-container">

<form ng-submit="submit()" ng-controller="BlobCtrl">


<label for="login_username">Ripple name</label>

<div class="input-group">
<span class="input-group-addon ripple-addon">~</span>
<input id="login_username" name="login_username" type="text" ng-model="username" class="form-control"/>
</div>
<label for="login_password">Password</label>
<div class="form-group">
<input id="login_password" name="login_password" type="password" ng-model="password" class="form-control"/>
</div>
             <span us-spinner spinner-key="spinner-1"></span>

<div class="submit-btn-container">
        <button type="submit" id="submit" ng-click="startSpin()" class="btn btn-submit btn-block btn-success ">
        <span>Explore</span></button>
</div>

           </form>
           
   </div>
