<div ng-controller="WalletCtrl">
    <div ng-controller="connect_modalCtrl">
    <div class="connect-btc-container" style="  font-family: 'Sans-Serif';">

<button ng-hide="connected" ng-click="open()" class="btn btn-submit btn-block btn-connect-btc">Connect Passport + Dividend % / IOU Contract</button>

</div>
</div>
<div ng-show="connected">

<button ng-show="connected" class="connected-btc btn btn-submit btn-block ">Connected :)</button>


    <div class="submit-btn-container">

<span class="center sans-serif block font36" style="font-size:26px">Your safety-net is {{total_safety_net}} {{userBlob.data.basicincome_co[0].currency}}</span>
<img class="img-safetynet" src="img/network3.png">
<span class="center sans-serif block"><i>view on <a ng-click="graph()">graph.basicincome.co</a></i></span>
</div>

    <div class="submit-btn-container">
<div ng-controller="login_modalCtrl">

<span class="center sans-serif block font36" style="font-size:26px">UNDECLARED TAX: {{total_amount}}</span>

<button ng-click="open()" class="btn btn-block btn-connect-btc">Declare tax</button>
</div>

</div>




    <div class="disconnect-btc-container">

<button ng-show="connected" ng-click="remove()" class="btn btn-submit btn-block btn-disconnect-btc">Disconnect current Passport (data is not deleted)</button>

</div>

<div ng-controller="delete_everything_modalCtrl">

    <div class="disconnect-btc-container">

<button ng-show="connected" ng-click="open()" class="btn btn-submit btn-block btn-delete_everything">Disconnect and delete everything</button>

</div>

</div>





</div> 



