.img-bitcoin {
  position: absolute;
  top: 10px;
  right: 10px;


  height: 100px;
  width: auto;
}

.pitch-container {

  position: absolute;
  bottom: 60px;
  left: 20px;
    
width: 50%;

    
}

.login-form-container {
    
  position: absolute;
  bottom: 40px;
  right: 20px;
    
width:30%;

    
}